* {
    margin: 0;
}

html, body {
    height: 100%;
    position: relative;
    min-width: 970px;
}

.wrapper {
    background-image: url(../img/bg.png);
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -4em;
}

.container {
    max-width: none !important;
    width: 970px !important;
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    width: 60%;
}

.lang {
    padding-right: 0;
}

.navigation-menu {
    padding-right: 0;
}

.navigation-menu li:hover {
    background-color: #E7E7E7;
}

.search {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    text-indent: 20px;
    -webkit-background-size:30px;
    background-size:30px;
}

.content {
    margin-bottom: 4em;
}

.content .container{
    background-color: #F8F8F8;
    border-radius: 5px;
}

.footer {
    height: 4em;
    text-align: center;
    background-color: #F8F8F8;
}
